:root {
    --first-color: #fff;
    --second-color: #fff;
    --first-font: 'Poppins', sans-serif;
    --second-font: 'Rubik', sans-serif;
    --third-font: 'Merriweather', serif;
    --main-gradient: linear-gradient(0.25turn, #6833e4, #734bd1, #8257e5, #6833e4);
    --second-gradient: linear-gradient(0deg, #ccc, #fff 100%, #ccc);
    --radial-gradient: radial-gradient( #6833e4, #734bd1, #8257e5, #6833e4);
    --border-purple: 2px solid #6833e4;
}

.container {
    background-color: antiquewhite;
    height: 300vh;
    display: flex;
    color: #16161f;
}

/* LADO ESQUERDO */

/* HOME */
.main-content {
    width: 60vw;
}

.content {
    height: 100vh;
}

.element1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('../img/einstein.png'), var(--main-gradient);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: var(--first-color);
}

.quote-citation {
    font-size: 4rem;
    width: 40vw;
    text-align: justify;
    font-style: italic;
    font-family: var(--third-font);
    font-weight: 400;
}

.author-quote {
    text-align: right;
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
}


.footer-first-section {
    padding-top: 20vh;
    font-family: var(--third-font);
}

/* ABOUT */

.about {
    background-image: var(--second-gradient);
}

.about-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.about-main-content {
    width: 30vw;
    margin: 20px;
}

.float-left {
    float: left;
    margin-right: 20px;
}

.about-content {
    text-align: justify;
    font-size: 20px;
    font-family: var(--first-font);
}

.float-right {
    float: right;
    margin-left: 20px;
}

.about-me-title {
    font-size: 4rem;
    font-family: var(--first-font);
    background-color: var(--second-gradient);
}

.about-title {
    border-bottom: var(--border-purple);
    padding-left: 5vw;
    padding-top: 30px;
}

.image-fill {
    width: 200px;
    height: 150px;
    background-color: red;
    border-radius: 15px;
}

.portifolio {
    background-image: var(--main-gradient);
}

.portifolio-title {
    font-size: 4rem;
    font-family: var(--first-font);
}

.portifilio-header {
    border-bottom: 2px solid white;
    padding-left: 5vw;
    padding-top: 30px;
    color: white;

}

.portifolio-content {
    margin-top: 70px;
    width: 55vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 200px;
    height: 200px;
}

.cor1{
    background-color: wheat;
}

.cor2 {
    background-color: limegreen;
}

/* LADO DIREITO */

.aside-content {
    background-color: darkslategray;
    width: 40vw;
    height: 100vh;
    position: fixed;
    right: 0;
    box-shadow: -5px 0 15px #16161f;
}

.header-aside-content {
    width: 40vw;
    height: 10vh;
    background-image: var(--second-gradient);
    box-shadow: 10px 5px rgba(0, 0, 12, 0.5);
    
}

.navigation-header ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    
   
}

.navigation-header ul li {
    border-bottom: var(--border-purple);
    padding: 0 10px 10px;
    font-family: var(--first-font);
}

.main-aside-content {
    height: 90vh;
    background-image: var(--second-gradient);
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
    align-items: center;
    justify-content: center;
}

.text-container-top {
    grid-row: 1/2;
    font-family: var(--first-font);
}

/* TOP ASIDE CONTENT */

.my-name {
    font-size: 4rem;
    width: 20vw;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: var(--border-purple);
}

.my-function {
    text-align: right;
    font-weight: 200;
    font-style: italic;
    font-family: var(--second-font);
}

/* IMAGE ASIDE CONTENT */

.image-aside-container {
    width: 300px;
    height: 300px;
    justify-self: center;
    grid-row: 2/3;
    background-image: url('../img/eu.jfif'), var(--radial-gradient) ;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: contain;
    border-radius: 15px;
}



/* FOOTER ASIDE CONTENT */
.footer-aside-container {
    font-family: var(--second-font);
    grid-row: 3/4;
}


.footer-title{
    text-align: center;
    font-weight: 400;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


/* CONTATO */

.contact {
    position: sticky;
    right: 0;
    width: 40vw;
    z-index: 10;
    margin-top: 210vh;
    background-color: aquamarine;
    margin-left: -15px;
}